/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Хедер */
header {
    background-color: #808080; /* Серый фон */
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.header-left p {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc; /* Цвет при наведении */
}

/* Футер */
footer {
    background-color: #000000; /* Черный фон */
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer p:last-child {
    margin-bottom: 0;
}
